$primary: hsl(0, 100%, 74%);
$secondary: hsl(154, 59%, 51%);
$white: white;
$white-opaque: rgba(255, 255, 255, 0.863);

$accent: hsl(248, 32%, 49%);


$neutral-dark: hsl(249, 10%, 26%);
$neutral-light: hsl(246, 25%, 77%);


$text-dark: $neutral-dark;
$text-light: $neutral-light;
$text-white: $white;