$font-stack: 'Poppins', sans-serif;


$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold:700;

$font-size-xxs: 0.5rem;
$font-size-xs: 0.65rem;
$font-size-sm: 0.75rem;
$font-size-m: 0.85rem;
$font-size-lg: 1rem;
$font-size-xl: 1.2rem;
$font-size-big: 1.5rem;
$font-size-bigger: 2rem;

$line-height: 1.5;
$align-center: center;